* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  /* background color variables */
  --bg-primary-color: #110f0f;
  --bg-fill-color:pink;
  --bg-food-color:#f10a0a;

  /* text color variables */
  --text-primary-color: #fefafa;

  /*  spacing variables */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 40px;
  --spacing-3xl: 48px;

  /* border colors */
  --border-primary-color: #333333;

  /* border variables */
  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 16px;
  --border-radius-xl: 20px;
  --border-radius-2xl: 24px;
}
html {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.btn{
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius-lg);
  outline: none;
  cursor: pointer;
  transition: all 3 ease;
  font-size: 1rem;
}

.btn:hover{
  transform: scale(1.1);
}

section {
  padding: var(--spacing-2xl);
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: var(--spacing-lg);
  /* background: #2100b7; */
}

section .infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.info {
  padding: var(--spacing-xs) var(--spacing-sm);
  border: 1px solid var(--border-primary-color);
  border-radius: var(--border-radius-sm);
}
.board {
  border: 1px solid var(--border-primary-color);
  flex: 1;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}

.block {
  
  border: 1px solid var(--border-primary-color);
}

.fill{
    background-color:var(--bg-fill-color);
}

.food{
  background-color:var(--bg-food-color);
}

.modal{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: #35353535;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-game{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-lg);
}